.containing {
  position: absolute;
  left: 56%;
  top: 48%;
  transform: translate(-50%, -50%);
  width: 1600px;
  height: 700px;
  padding: 50px;
  background-color: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
  overflow-x: hidden;
}
.containings {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  width: 1380px;
  height: 700px;
  padding: 50px;
  background-color: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
  overflow-x: hidden;
}
.exterior-one-slide-one-map-location {
  background-image: url("../../../assets/images/hadley-heights-map.jpg");
}
.exterior-one-slide-one {
  background-image: url("../../../assets/images/hadley/exterior-images/exterior1.jpg");
}
.exterior-one-slide-two {
  background-image: url("../../../assets/images/hadley/exterior-images/exterior2.jpg");
}
.exterior-one-slide-three {
  background-image: url("../../../assets/images/hadley/exterior-images/exterior3.jpg");
}
.exterior-one-slide-four {
  background-image: url("../../../assets/images/hadley/exterior-images/exterior4.jpg");
}
.exterior-one-slide-five {
  background-image: url("../../../assets/images/hadley/exterior-images/exterior5.jpg");
}

.exterior-one-slide-seven {
  background-image: url("../../../assets/images/hadley/dusk/dusk.jpg");
}

.exterior-one-slide-eight {
  background-image: url("../../../assets/images/hadley/entrance/entrance1.jpg");
}

.exterior-one-slide-nine {
  background-image: url("../../../assets/images/hadley/entrance/entrance2.jpg");
}

.exterior-one-slide-ten {
  background-image: url("../../../assets/images/hadley/facade/facade1.jpg");
}

.exterior-one-slide-eleven {
  background-image: url("../../../assets/images/hadley/facade/facade2.jpg");
}
/* amenities images started here  */
.exterior-one-slide-twelve {
  background-image: url("../../../assets/images/hadley/amenities/1.jpg");
}
.exterior-one-slide-thirteen {
  background-image: url("../../../assets/images/hadley/amenities/2.jpg");
}
.exterior-one-slide-fourteen {
  background-image: url("../../../assets/images/hadley/amenities/3.jpg");
}
.exterior-one-slide-fifteen {
  background-image: url("../../../assets/images/hadley/amenities/4.jpg");
}
.exterior-one-slide-sixteen {
  background-image: url("../../../assets/images/hadley/amenities/5.jpg");
}
.exterior-one-slide-seventeen {
  background-image: url("../../../assets/images/hadley/amenities/6.jpg");
}
.exterior-one-slide-eighteen {
  background-image: url("../../../assets/images/hadley/amenities/7.jpg");
}
.exterior-one-slide-ninteen {
  background-image: url("../../../assets/images/hadley/amenities/8.jpg");
}
.exterior-one-slide-twenty {
  background-image: url("../../../assets/images/hadley/amenities/9.jpg");
}
.exterior-one-slide-twenty-one {
  background-image: url("../../../assets/images/hadley/amenities/10.jpg");
}
.exterior-one-slide-twenty-two {
  background-image: url("../../../assets/images/hadley/amenities/11.jpg");
}
.exterior-one-slide-twenty-three {
  background-image: url("../../../assets/images/hadley/amenities/12.jpg");
}
.exterior-one-slide-twenty-four {
  background-image: url("../../../assets/images/hadley/amenities/13.jpg");
}
.exterior-one-slide-twenty-five {
  background-image: url("../../../assets/images/hadley/amenities/14.jpg");
}
.exterior-one-slide-twenty-six {
  background-image: url("../../../assets/images/hadley/amenities/15.jpg");
}
.exterior-one-slide-twenty-seven {
  background-image: url("../../../assets/images/hadley/amenities/16.jpg");
}
.exterior-one-slide-twenty-eight {
  background-image: url("../../../assets/images/hadley/amenities/17.jpg");
}
.exterior-one-slide-twenty-nine {
  background-image: url("../../../assets/images/hadley/amenities/18.jpg");
}
.exterior-one-slide-thirty {
  background-image: url("../../../assets/images/hadley/amenities/19.jpg");
}
.exterior-one-slide-thirty-one {
  background-image: url("../../../assets/images/hadley/amenities/20.jpg");
}
.exterior-one-slide-thirty-two {
  background-image: url("../../../assets/images/hadley/amenities/21.jpg");
}
.exterior-one-slide-thirty-three {
  background-image: url("../../../assets/images/hadley/amenities/22.jpg");
}
.exterior-one-slide-thirty-four {
  background-image: url("../../../assets/images/hadley/amenities/23.jpg");
}
.exterior-one-slide-floor-one {
  background-image: url("../../../assets/images/hadley/floors/Floor1.jpg");
}
.exterior-one-slide-floor-two {
  background-image: url("../../../assets/images/hadley/floors/Floor-02.jpg");
}
.exterior-one-slide-floor-three {
  background-image: url("../../../assets/images/hadley/floors/Floor-03.jpg");
}
.exterior-one-slide-floor-four {
  background-image: url("../../../assets/images/hadley/floors/Floor-04.jpg");
}
.exterior-one-slide-floor-five {
  background-image: url("../../../assets/images/hadley/floors/Floor-05.jpg");
}
.exterior-one-slide-floor-six {
  background-image: url("../../../assets/images/hadley/floors/Floor-06.jpg");
}
.exterior-one-slide-floor-seven {
  background-image: url("../../../assets/images/hadley/floors/Floor-07.jpg");
}
.exterior-one-slide-floor-eight {
  background-image: url("../../../assets/images/hadley/floors/Floor-08.jpg");
}
.exterior-one-slide-floor-nine {
  background-image: url("../../../assets/images/hadley/floors/Floor-09.jpg");
}
.exterior-one-slide-floor-ten {
  background-image: url("../../../assets/images/hadley/floors/Floor-10.jpg");
}
.exterior-one-slide-floor-eleven {
  background-image: url("../../../assets/images/hadley/floors/Floor-11.jpg");
}
.exterior-one-slide-floor-twelve {
  background-image: url("../../../assets/images/hadley/floors/Floor-12.jpg");
}
.exterior-one-slide-floor-thirteen {
  background-image: url("../../../assets/images/hadley/floors/Floor-13.jpg");
}
.exterior-one-slide-floor-fourteen {
  background-image: url("../../../assets/images/hadley/floors/Floor-14.jpg");
}
.exterior-one-slide-floor-fifteen {
  background-image: url("../../../assets/images/hadley/floors/Floor-15.jpg");
}
.exterior-one-slide-floor-sixteen {
  background-image: url("../../../assets/images/hadley/floors/Floor-16.jpg");
}
.exterior-one-slide-floor-seventeen {
  background-image: url("../../../assets/images/hadley/floors/Floor-17.jpg");
}
.exterior-one-slide-floor-eighteen {
  background-image: url("../../../assets/images/hadley/floors/Floor-18.jpg");
}
.exterior-one-slide-floor-ninteen {
  background-image: url("../../../assets/images/hadley/floors/Floor-19.jpg");
}
.exterior-one-slide-floor-twenty {
  background-image: url("../../../assets/images/hadley/floors/Floor-20.jpg");
}
.exterior-one-slide-floor-twenty-one {
  background-image: url("../../../assets/images/hadley/floors/Floor-21.jpg");
}
.exterior-one-slide-floor-twenty-two {
  background-image: url("../../../assets/images/hadley/floors/Floor-22.jpg");
}
.exterior-one-slide-floor-twenty-three {
  background-image: url("../../../assets/images/hadley/floors/building.jpg");
}
.exterior-one-slide-one-unit-1 {
  background-image: url("../../../assets/images/hadley/floor-plans/Unit01.jpg");
}
.exterior-one-slide-one-unit-2 {
  background-image: url("../../../assets/images/hadley/floor-plans/Unit02.jpg");
}
.exterior-one-slide-one-unit-3 {
  background-image: url("../../../assets/images/hadley/floor-plans/Unit03.jpg");
}
.exterior-one-slide-one-unit-4 {
  background-image: url("../../../assets/images/hadley/floor-plans/Unit04.jpg");
}
.exterior-one-slide-one-unit-5 {
  background-image: url("../../../assets/images/hadley/floor-plans/Unit05.jpg");
}
.exterior-one-slide-one-unit-6 {
  background-image: url("../../../assets/images/hadley/floor-plans/Unit06.jpg");
}
.exterior-one-slide-one-unit-7 {
  background-image: url("../../../assets/images/hadley/floor-plans/Unit07.jpg");
}
.exterior-one-slide-one-unit-8 {
  background-image: url("../../../assets/images/hadley/floor-plans/Unit08.jpg");
}
.exterior-one-slide-one-unit-9 {
  background-image: url("../../../assets/images/hadley/floor-plans/Unit09.jpg");
}
.exterior-one-slide-one-unit-10 {
  background-image: url("../../../assets/images/hadley/floor-plans/Unit10.jpg");
}
.exterior-one-slide-one-unit-3d-1 {
  background-image: url("../../../assets/images/hadley/3d/1-Bedroom.jpg");
}
.exterior-one-slide-one-unit-3d-2 {
  background-image: url("../../../assets/images/hadley/3d/3-bed-with-movie-room.jpg");
}
.exterior-one-slide-one-unit-3d-3 {
  background-image: url("../../../assets/images/hadley/3d/Customisable-with-study-&-gym.jpg");
}
.exterior-one-slide-one-unit-3d-4 {
  background-image: url("../../../assets/images/hadley/3d/Gym.jpg");
}
.exterior-one-slide-one-unit-3d-5 {
  background-image: url("../../../assets/images/hadley/3d/Kidsplay.jpg");
}
.exterior-one-slide-one-unit-3d-6 {
  background-image: url("../../../assets/images/hadley/3d/Studio.jpg");
}
.exterior-one-slide-one-unit-3d-7 {
  background-image: url("../../../assets/images/hadley/3d/1-Bedroom.jpg");
}
.exterior-one-slide-one-unit-3d-7 {
  background-image: url("../../../assets/images/hadley/3d/3-bed-with-movie-room.jpg");
}
.exterior-one-slide-one-unit-3d-7 {
  background-image: url("../../../assets/images/hadley/3d/Customisable-with-study-&-gym.jpg");
}
.exterior-one-slide-one-unit-3d-7 {
  background-image: url("../../../assets/images/hadley/3d/Studio.jpg");
}
/* amenities images ends here  */
#slide {
  width: max-content;
  margin-top: 50px;
}
.items {
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 75%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
}
.items:nth-child(1),
.items:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  min-height: 700px;
  box-shadow: none;
  z-index: 9;
}
.items:nth-child(3) {
  left: 65%;
}
.items:nth-child(4) {
  left: calc(50% + 460px);
}
.items:nth-child(5) {
  left: calc(50% + 680px);
}
.items:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}
.items .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  padding: 0;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
  font-family: system-ui;
}
.items:nth-child(2) .content {
  display: block;
  z-index: 11111;
}
.items .name {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards;
  text-shadow: 0 0 10px #232323;
}
.items .des {
  margin: 20px 0;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards;
  text-shadow: 0 0 10px #232323;
}
.items button {
  padding: 10px 20px;
  border: none;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}
@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}
.buttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 222222;
  text-align: left;
  width: 100%;
}
.buttons button {
  width: 70px;
  height: 70px;
  border: 0px solid #555;
  transition: 0.5s;
}
.buttons button:hover {
  background-color: #232323;
  color: #fff;
}
.main-mini-heading-section {
  background-color: #232323;
  color: #fff;
  margin-left: 200px;
  padding-left: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: -100px;
  padding-right: 130px;
  overflow-x: hidden;
}

h1.page-heading-title {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.units-boxes-design {
  /* background-color: #fff; */
  padding: 5px;
  text-align: center;
}

.units-boxes-design a {
  padding: 10px 15px !important;
}
.units-buttons-design {
  margin-bottom: 2px !important;
}
#slides .no-thumbs {
  /* display: none; */
}
.floor-plans-banners .content {
  padding: 40px;
  background-color: #232323;
  min-width: 400px;
}
.floor-plans-banners .items button {
  background-color: #c4a564;
  color: #fff;
}
.units-boxes {
  width: 100%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.red-bg {
  background-color: red;
}
.green-bg {
  background-color: green;
}
.white-bg {
  background-color: white;
}
