/* .project-section {
  background-image: url("../../assets/images/balcony.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
   background-image: url("./assets/images/mainheader.jpg"),
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
} */
.project-section {
  height: 100vh;
  background-color: #232323;
}
.projects-banner-images {
  width: 1920px;
  height: 621px;
}
.special-back-to-home-button {
  position: absolute;
  top: 25px;
  left: 10px;
  z-index: 999;
  /* background-color: #fff; */
  color: #fff;
  max-height: 35px;
  max-width: 35px;
  border-radius: 50px;
  margin-top: -10px;
}
.projects-banner-images {
  background-repeat: no-repeat;
  background-size: cover;
}
